@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* home page */
.content-home {
  display: flex;
  position: relative;
}
.content-img {
  width: 100%;
}
.img-home {
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.content-blank {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}
.content-title {
  position: absolute;
  left: 29%;
  top: 40%;
}

/* pokemons page */
.content-pokemons {
  background-color: #f9f5d2;
}
.img-hover {
  transition: linear 200ms;
  cursor: pointer;
}
.img-hover:hover {
  transform: scale(1.1);
}
.img-card {
  height: 140px;
}